.jumbotron {
text-align: center;
background-color: white;
font-family: 'Poppins', sans-serif;
margin: 20px 30px 0 30px;

}

body{
    background-image: url("https://thumbs.dreamstime.com/z/design-element-ancient-brick-wall-texture-toned-ultra-violet-colour-design-element-ancient-brick-wall-texture-toned-filled-118823951.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
}


